:root {
    --bg: #ffff;
    --colortext: #ffff;
    --card: #b6bbf6;
    --bgli: #f2f2f2;
    --lihover:#bdb8b8;
    --success: #2ecc71;
    --error: #e74c3c;
    --warning: #f1c40f;
body {
    font-family: Arial;
    text-align: center;
    background: var(--bg);
}

form {
    margin-bottom: 15px;
}

input {
    padding: 8px;
}

button {
    background: #2a2626;
    color: var(--colortext);
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: var(--bgli);
    margin: 5px auto;
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

li:hover {
    background: var(--lihover);
}

.completada span{
    text-decoration: line-through;
    opacity: 0.6;
}
li button{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.card {
    width: 150px;
    background: var(--card);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}