:root {
    --bg: #ffffff;
    --buttonbg: #2a2626;
    --colortext: #ffffff;
    --card: #b6bbf6;
    --bgli: #f2f2f2;
    --lihover:#bdb8b8;
    --success: #2ecc71;
    --error: #e74c3c;
    --warning: #f1c40f;
}
body {
    font-family: Arial;
    text-align: center;
    background: var(--bg);
    margin: 0;
}
.filtros {
    margin: 15px;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dddd;
}
.filtros label {
    font-weight: bold;
    color: #2a2626;
}

.filtros input,
.filtros select {
    padding: 6px;
    margin: 5px;
}
.producto-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.producto-card {
    background: white;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.producto-card h3 {
    font-size: 16px;
    margin: 5px 0;
}
.precio {
    font-weight: bold;
}
.stock {
    font-size: 12px;
    color: gray;
}

form {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
input:focus {
    outline: 2px solid var(--buttonbg);
}

button {
    background: var(--buttonbg);
    color: var(--colortext);
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
button:hover{
    background: #444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: var(--bgli);
    margin: 5px auto;
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

li:hover {
    background: var(--lihover);
}

.completada{
    text-decoration: line-through;
    opacity: 0.6;
    color: var(--success);
}
li button{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.card {
    width: 150px;
    background: var(--card);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.1);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}
#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.error {
    background: #fdecea;
    color: var(--error);
    border: 1px solid var(--error);
    padding: 10px;
    border-radius: 8px;
}
.vacio {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}
.loading {
    color: #2a2626;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}